.todoGroupContainer {
  display: flex;
  padding: 1rem 0;
  flex: 1;
  flex-direction: column;
  gap: 10px;
}
.mainToolbar {
  flex: auto;
  justify-content: left;
  background: rgb(126, 0, 124);
  background: linear-gradient(
    90deg,
    rgba(126, 0, 124, 1) 0%,
    rgba(126, 0, 124, 1) 33%,
    rgba(5, 0, 87, 1) 100%
  );
  box-shadow: 0px 3px 5px lightgray;
}

.main {
  min-height: 100vh;
  display: flex;
  flex: auto;
  justify-content: center;
  align-content: center;
}

.footer {
  display: flex;
  flex: auto;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  color: black;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  height: 1em;
  justify-self: center;
  align-self: center;
}
